/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Général */

*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

:root {
    --black:#000;
    --red:#f60303;
    --white:#fff; 
    --grey:#c1c1c1; 
    --lightgrey:#f1f1f1;
    --max-width: 1440px;
    --transition: 0.3s ease-out;
}

a{
    text-decoration: none;
    color: var(--black);
    transition: var(--transition);
}

a:hover{
    color: var(--red);
    border-top: solid 4px var(--red);
    padding-top: 46px;
    transition: var(--transition);
}

/* Header */

header{
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 80px;
    padding: 0;
}