/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Général */

*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

:root {
    --black:#000;
    --red:#f60303;
    --white:#fff; 
    --grey:#c1c1c1; 
    --lightgrey:#f1f1f1;
    --max-width: 1440px;
    --transition: 0.3s ease-out;
}

a{
    text-decoration: none;
    color: var(--black);
    transition: var(--transition);
}

a:hover{
    color: var(--red);
    transition: var(--transition);
}

ul{
    list-style: none;
    padding: 0;
}

/* Header */

header{
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img{
    width: 180px;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 80px;
    padding: 0;
}

header nav a:hover{
    border-top: solid 1px var(--red);
    padding-top: 46px;
}

/* Section 1 */

.section1{
    max-width: var(--max-width);
    margin: auto;
    padding-bottom: 40px;
}
.section1 h1{
    font-size: 22px;
}
.section1 div:nth-child(1){
    padding: 40px 0;
}
.section1 form{
    border: solid 1px var(--grey);
    width: max-content;
    border-radius: 20px;
}
.section1 ul i{
    padding: 6px;
    border-radius: 6px 0 0 6px;
}
.section1 form input{
    width: 194px;
    height: 22px;
    border: none;
}
.section1 form a{
    background: var(--red);
    padding: 4px 10px;
    color: var(--white);
    border-radius: 0  6px 6px 0;
}
.section1 form i{
    background: var(--red);
    padding: 6px 10px;
    color: var(--white);
    border-radius: 6px  0 0 6px;
}
#div2{
    display: flex;
    align-items: center;
    padding: 30px 0;
}
#div2 h2{
    font-size: 18px;
    margin-right: 20px;
}
#div2 ul{
    display: flex;
    padding: 20px;
    gap: 40px;
}
#div2 a{
    border: solid 1px var(--red);
    padding: 10px 15px;
    border-radius: 10px;
}
#div2 a:hover{
    background: var(--red);
    color: #fff;
}
#div2 i{
    color: var(--red);
    margin-right: 4px;
}
.section1 p i{
    color: var(--red);
}

/* Section2 */

.section2{
    max-width: 1440px;
    margin: auto;
    display: flex;
    gap: 40px;
}

.section2 article{
    background: var(--white);
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    flex: 1 0 27%;
}

.reco{
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 6px;
    margin: 10px;
    background: var(--red);
    color: var(--white);
    border-radius: 4px;
}

.section-accomodations img{
    border-radius: 10px 10px 0 0;
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.section-accomodations{
    background: var(--lightgrey);
    border-radius: 10px;
    padding: 50px;
    padding-bottom: 30px;
    max-width: 875px;
    transition: 0.3s ease-out;
}

.section-accomodations a:hover img,
.section-popular a:hover img{
    filter: grayscale(70%);
    transform: scale(1.01);
    transition: 0.3s ease-out;
}

.section-accomodations a:hover h3,
.section-accomodations a:hover p,
.section-popular a:hover h3,
.section-popular a:hover p{
    color: var(--black);
}

.section-accomodations > div{
    display: flex;
    gap: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-accomodations h2{
    font-size: 22px;
    padding-bottom: 40px;
}

.section2 article p{
    margin-top: 10px;
    margin-bottom: 20px;
}

.section2 i{
    color: var(--red);
    margin-top: 8px;
}

.section2 i:nth-child(5){
    color: var(--grey);
}

.section-popular{
    background: var(--lightgrey);
    max-width: 410px;
    border-radius: 10px;
    padding: 50px;
    padding-bottom: 30px;
}

.section-popular h2 {
    font-size: 22px;
    padding-bottom: 40px;
}

.section-popular img{
    width: 90px;
    height: 160px;
    object-fit: cover;
    border-radius: 6px 0px 0px 6px;
}

.section-popular a{
    display: flex;
    justify-content: space-between;
}

.section-popular a div{
    margin-right: 40px;
}

.section-popular a p{
    padding: 26px 0;
}

.popu{
    position: absolute;
    top: 0;
    padding: 4px 6px;
    margin: 10px;
    background: var(--red);
    color: var(--white);
    border-radius: 4px;
}

/* Section 3 */

.section3{
    max-width: var(--max-width);
    margin: auto;
}

.section3 div{
    display: flex;
    gap: 40px;
}

.section3 img{
    width: 320px;
    height: 380px;
    object-fit: cover;
}

.section3 h2{
    padding: 50px 0;
}

/* Footer */

footer{
    max-width: var(--max-width);
    margin: auto;
}

footer > div{
    background-color: var(--lightgrey);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-right: 20%;
    line-height: 1.5rem;
}

footer div h2{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

footer div a{
    line-height: 2.5rem;
}

footer > p{
    text-align: center;
    padding: 20px 0;
}